![walmartecomm](walmartecomm.jpg)

Walmart is the biggest retail store in the United States. Just like others, they have been expanding their e-commerce part of the business. By the end of 2022, e-commerce represented a roaring $80 billion in sales, which is 13% of total sales of Walmart. One of the main factors that affects their sales is public holidays, like the Super Bowl, Labour Day, Thanksgiving, and Christmas. 

In this project, you have been tasked with creating a data pipeline for the analysis of supply and demand around the holidays, along with conducting a preliminary analysis of the data. You will be working with two data sources: grocery sales and complementary data. You have been provided with the `grocery_sales` table in `PostgreSQL` database with the following features:

# `grocery_sales`
- `"index"` - unique ID of the row
- `"Store_ID"` - the store number
- `"Date"` - the week of sales
- `"Weekly_Sales"` - sales for the given store

Also, you have the `extra_data.parquet` file that contains complementary data:

# `extra_data.parquet`
- `"IsHoliday"` - Whether the week contains a public holiday - 1 if yes, 0 if no.
- `"Temperature"` - Temperature on the day of sale
- `"Fuel_Price"` - Cost of fuel in the region
- `"CPI"` â€“ Prevailing consumer price index
- `"Unemployment"` - The prevailing unemployment rate
- `"MarkDown1"`, `"MarkDown2"`, `"MarkDown3"`, `"MarkDown4"` - number of promotional markdowns
- `"Dept"` - Department Number in each store
- `"Size"` - size of the store
- `"Type"` - type of the store (depends on `Size` column)

You will need to merge those files and perform some data manipulations. The transformed DataFrame can then be stored as the `clean_data` variable containing the following columns:
- `"Store_ID"`
- `"Month"`
- `"Dept"`
- `"IsHoliday"`
- `"Weekly_Sales"`
- `"CPI"`
- "`"Unemployment"`"

After merging and cleaning the data, you will have to analyze monthly sales of Walmart and store the results of your analysis as the `agg_data` variable that should look like:

|  Month | Weekly_Sales  | 
|---|---|
| 1.0  |  33174.178494 |
|  2.0 |  34333.326579 |
|  ... | ...  |  

Finally, you should save the `clean_data` and `agg_data` as the csv files.

It is recommended to use `pandas` for this project.

In [46]:
import pandas as pd
import os

# Extract function is already implemented for you 
def extract(store_data, extra_data):
    extra_df = pd.read_parquet(extra_data)
    merged_df = store_data.merge(extra_df, on = "index")
    return merged_df

# Call the extract() function and store it as the "merged_df" variable
grocery_sales = pd.read_csv("grocery_sales.csv")
merged_df = extract(grocery_sales, "extra_data.parquet")
is_na_df = merged_df[merged_df.isna().any(axis=1)]
merged_df.info()
is_na_df.head(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231522 entries, 0 to 231521
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    231522 non-null  int64
 1   index         231522 non-null  int64
 2   Store_ID      231522 non-null  int64
 3   Date          231483 non-null  object
 4   Dept          231522 non-null  int64
 5   Weekly_Sales  231484 non-null  float64
 6   IsHoliday     231522 non-null  int64
 7   Temperature   231522 non-null  float64
 8   Fuel_Price    231522 non-null  float64
 9   MarkDown1     231522 non-null  float64
 10  MarkDown2     231522 non-null  float64
 11  MarkDown3     231522 non-null  float64
 12  MarkDown4     231521 non-null  float64
 13  MarkDown5     231521 non-null  float64
 14  CPI           231475 non-null  float64
 15  Unemployment  231485 non-null  float64
 16  Type          231521 non-null  float64
 17  Size          231521 non-null  float64
dtypes: float64(12), int64(5), object(1)
memory usage: 31.8+ MB

,Unnamed: 0,index,Store_ID,Date,Dept,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
3,3,3,1,2010-02-05,45,37.44,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
4,4,4,1,2010-02-05,28,1085.29,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
5,5,5,1,2010-02-05,79,46729.77,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
6,6,6,1,2010-02-05,55,21249.31,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
7,7,7,1,2010-02-05,5,32229.38,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
8,8,8,1,2010-02-05,58,7659.97,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
9,9,9,1,2010-02-05,7,NaN,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,NaN,3.0,151315.0
10,10,10,1,2010-02-05,83,NaN,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
11,11,11,1,2010-02-05,9,NaN,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
12,12,12,1,2010-02-05,87,NaN,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
13,13,13,1,2010-02-05,34,NaN,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
16,16,16,1,NaN,74,12251.94,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
17,17,17,1,NaN,38,115564.35,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
18,18,18,1,NaN,93,64494.87,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
19,19,19,1,NaN,23,24146.49,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
20,20,20,1,NaN,16,10217.55,0,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,3.0,151315.0
76,76,76,1,NaN,13,36476.40,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,3.0,151315.0
77,77,77,1,NaN,17,13403.66,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,3.0,151315.0
78,78,78,1,NaN,23,22812.41,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,3.0,151315.0
79,79,79,1,NaN,87,39254.57,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,3.0,151315.0
80,80,80,1,NaN,4,35351.21,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,3.0,151315.0
81,81,81,1,NaN,85,4994.64,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,3.0,151315.0
82,82,82,1,NaN,7,18310.31,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,3.0,151315.0
125,125,125,1,2010-02-12,71,4752.00,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,NaN,8.106,3.0,151315.0
126,126,126,1,2010-02-12,36,432.00,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,NaN,8.106,3.0,151315.0
127,127,127,1,2010-02-12,35,2420.00,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,NaN,8.106,3.0,151315.0
128,128,128,1,2010-02-12,52,2728.58,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,NaN,8.106,3.0,151315.0
129,129,129,1,2010-02-12,95,111390.36,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,NaN,8.106,3.0,151315.0
130,130,130,1,2010-02-12,30,5328.50,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,NaN,8.106,3.0,151315.0
131,131,131,1,2010-02-12,12,8654.07,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,NaN,8.106,3.0,151315.0
132,132,132,1,2010-02-12,41,924.53,1,38.51,2.548,0.0,0.0,0.0,0.0,0.0,NaN,8.106,3.0,151315.0
573,573,573,1,2010-03-26,8,NaN,0,51.45,2.732,0.0,0.0,0.0,0.0,0.0,211.018042,8.106,3.0,151315.0
574,574,574,1,2010-03-26,85,NaN,0,51.45,2.732,0.0,0.0,0.0,0.0,0.0,211.018042,8.106,3.0,151315.0
575,575,575,1,2010-03-26,6,NaN,0,51.45,2.732,0.0,0.0,0.0,0.0,0.0,211.018042,8.106,3.0,151315.0
576,576,576,1,2010-03-26,32,NaN,0,51.45,2.732,0.0,0.0,0.0,0.0,0.0,211.018042,8.106,3.0,151315.0
658,658,658,1,NaN,16,52976.67,0,65.86,2.770,0.0,0.0,0.0,0.0,0.0,210.622857,7.808,3.0,151315.0
659,659,659,1,NaN,60,1029.60,0,65.86,2.770,0.0,0.0,0.0,0.0,0.0,210.622857,7.808,3.0,151315.0
660,660,660,1,NaN,22,7407.71,0,65.86,2.770,0.0,0.0,0.0,0.0,0.0,210.622857,7.808,3.0,151315.0
661,661,661,1,NaN,27,1111.25,0,65.86,2.770,0.0,0.0,0.0,0.0,0.0,210.622857,7.808,3.0,151315.0
662,662,662,1,NaN,34,13863.66,0,65.86,2.770,0.0,0.0,0.0,0.0,0.0,210.622857,7.808,3.0,151315.0
663,663,663,1,NaN,74,10895.18,0,65.86,2.770,0.0,0.0,0.0,0.0,0.0,210.622857,7.808,3.0,151315.0
664,664,664,1,NaN,1,42960.91,0,65.86,2.770,0.0,0.0,0.0,0.0,0.0,210.622857,7.808,3.0,151315.0
665,665,665,1,NaN,9,26113.67,0,65.86,2.770,0.0,0.0,0.0,0.0,0.0,210.622857,7.808,3.0,151315.0
666,666,666,1,NaN,13,37638.44,0,65.86,2.770,0.0,0.0,0.0,0.0,0.0,210.622857,7.808,3.0,151315.0
1521,1521,1521,1,2010-07-02,92,NaN,0,80.91,2.669,0.0,0.0,0.0,0.0,0.0,211.223533,7.787,3.0,151315.0
1522,1522,1522,1,2010-07-02,94,NaN,0,80.91,2.669,0.0,0.0,0.0,0.0,0.0,211.223533,7.787,3.0,151315.0
1523,1523,1523,1,2010-07-02,80,NaN,0,80.91,2.669,0.0,0.0,0.0,0.0,0.0,211.223533,7.787,3.0,151315.0
1524,1524,1524,1,2010-07-02,27,NaN,0,80.91,2.669,0.0,0.0,0.0,0.0,0.0,211.223533,7.787,3.0,151315.0
1525,1525,1525,1,2010-07-02,81,NaN,0,80.91,2.669,0.0,0.0,0.0,0.0,0.0,211.223533,7.787,3.0,151315.0
2388,2388,2388,1,2010-09-24,98,NaN,0,80.94,2.624,0.0,0.0,0.0,0.0,0.0,211.597225,7.787,3.0,151315.0

In [55]:
# Create the transform() function with one parameter: "raw_data"
def transform(raw_data: pd.DataFrame):
  # Write your code here

  values = {
        "Weekly_Sales": '0.00',
        "CPI": '0.00',
        "Unemployment": '0.00',
    }

  raw_data.fillna(value=values, inplace=True)

  raw_data['Month'] = pd.to_datetime(raw_data['Date']).dt.month

  raw_data = raw_data[raw_data['Weekly_Sales'] > 10000]

  col_to_keep = [
    'Month',
    'Weekly_Sales'
  ]

  raw_data = raw_data.loc[:, col_to_keep]
  return raw_data
  pass

In [56]:
# Call the transform() function and pass the merged DataFrame
clean_data = transform(merged_df)
clean_data.head(50)

    Month   Weekly_Sales
0     2.0   24924.500000
1     2.0   11737.120000
2     2.0   13223.760000
5     2.0   46729.770000
6     2.0   21249.310000
7     2.0   32229.380000
9     2.0   17687.873058
10    2.0   17687.873058
11    2.0   17687.873058
12    2.0   17687.873058
13    2.0   17687.873058
16    NaN   12251.940000
17    NaN  115564.350000
18    NaN   64494.870000
19    NaN   24146.490000
20    NaN   10217.550000
21    2.0  106690.060000
22    2.0   50605.270000
25    2.0   39954.040000
26    2.0   15694.170000
31    2.0   40129.010000
34    2.0   20837.770000
35    2.0   76419.470000
38    2.0   19466.910000
39    2.0   56655.390000
40    2.0   32153.040000
42    2.0   11501.460000
44    2.0   62424.140000
45    2.0   13740.120000
47    2.0   11875.840000
48    2.0   30052.750000
53    2.0   13623.980000
57    2.0   19484.030000
58    2.0   41969.290000
59    2.0   66780.630000
60    2.0   11609.500000
61    2.0   30721.500000
67    2.0   98499.120000
68    2.0  139884.940000
70    2.0   24213.180000
72    2.0   10891.370000
73    2.0   10887.840000
74    2.0   36080.860000
75    2.0   18826.470000
76    NaN   36476.400000
77    NaN   13403.660000
78    NaN   22812.410000
79    NaN   39254.570000
80    NaN   35351.210000
82    NaN   18310.310000

In [ ]:
# Create the avg_weekly_sales_per_month function that takes in the cleaned data from the last step
def avg_weekly_sales_per_month(clean_data):
    # Write your code here
    pass

In [ ]:
# Call the avg_weekly_sales_per_month() function and pass the cleaned DataFrame

In [ ]:
# Create the load() function that takes in the cleaned DataFrame and the aggregated one with the paths where they are going to be stored
def load(full_data, full_data_file_path, agg_data, agg_data_file_path):
    # Write your code here
    pass

In [ ]:
# Call the load() function and pass the cleaned and aggregated DataFrames with their paths

In [ ]:
# Create the validation() function with one parameter: file_path - to check whether the previous function was correctly executed
def validation(file_path):
    # Write your code here
    pass

In [ ]:
# Call the validation() function and pass first, the cleaned DataFrame path, and then the aggregated DataFrame path